/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  background-color: antiquewhite;
}

h3{
  color: #b12100;
  text-align:center;
  font-size: 3em;
}

input::placeholder{
  text-align: center;
}

input{
  cursor:pointer ;
}

button{
  font-weight:bold;
  font-size: 110%;
  cursor: pointer;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

h1{
  text-align: center;
}

section{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 2%;
  padding-top: 2%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media (max-width: 425px){
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5%;
}

  section input {
    width: 35%;
    text-align: center;
    margin-bottom: 3%;
  }
}